* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: radial-gradient(circle at top, #130532, #12001f);
    color: #fff;
}

/* HEADER */
.nav {
    max-width: 1600px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}
.TW{
    font-size: 40px;
}
.TW span {
    background: linear-gradient(to right,
            rgba(247, 233, 63, 1),
            rgba(251, 9, 180, 1),
            rgba(145, 0, 248, 1));
            background-clip: text;
            -webkit-text-fill-color: transparent;
}
.menu{
    display: flex;
    gap: 32px;
}
.menu a{
    text-decoration: none;
    color: white;
}
.btn-1{
        padding: 10px 15px;
        background: linear-gradient(to right,
         rgba(247, 233, 63, 1),
         rgba(251, 9, 180, 1),
         rgba(145, 0, 248, 1));
         border-radius: 20px;
         color: white;
}
/*hero*/
.hero-bg {
    max-width: 1600px;
    height: 760px;
    background: url("./assets/hero-bg.png") center / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* container */
.pod {
    text-align: center;
}

/* circle area */
.visual {
    position: relative;
}

.circle {
    width: 350px;
}

.mic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.badge {
    position: absolute;
    top: 15px;
    left: 340px;
    background: #00ff88;
    color: black;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: 600;
}

/* text */
.pod h1 {
    margin-top: 30px;
    font-size: 48px;
}

.subtitle {
    max-width: 600px;
    margin: 15px auto;
    opacity: 0.8;
}

/* buttons */
.hero-btn {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 25px;
}

.btn-2{
background: transparent;
border: 3px solid #00ff88;
color: #00ff88;
border-radius: 20px;
padding: 10px 15px;
}
/* about */
.about{
width: 1600px;
    height: 206px;
    text-align: center;
    padding: 50px 50px;
}
.about-p{
    width: 1200px;
    height: 58px;
}
.about-p p{
    margin: 20px auto;
    padding: 20px auto;
    color: rgb(110, 106, 106);
}
.about h2{
    font-size: 48px;
}
/* stats */
.stats{
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 40px 20px;
}
.stat span{
    color:rgb(110, 106, 106);
    text-align: center;
}
.stat h3 {
    color:#00ff88;
    font-size: 48px;
}