* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: radial-gradient(circle at top, #130532, #12001f);
    color: #fff;
    overflow-x: hidden;
}

/* header */
.nav {
    max-width: 1600px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}
.TW{
    font-size: 40px;
}
.TW span {
    background: linear-gradient(to right,
            rgba(247, 233, 63, 1),
            rgba(251, 9, 180, 1),
            rgba(145, 0, 248, 1));
            background-clip: text;
            -webkit-text-fill-color: transparent;
}
.menu{
    display: flex;
    gap: 32px;
}
.menu a{
    text-decoration: none;
    color: white;
}
.btn-1{
        padding: 10px 15px;
        background: linear-gradient(to right,
         rgba(247, 233, 63, 1),
         rgba(251, 9, 180, 1),
         rgba(145, 0, 248, 1));
         border-radius: 20px;
         color: white;
}
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

/*hero*/
.hero-bg {
    width: 100%;
    height: 100%;
    min-height: 600px;
    background: url("./assets/hero-bg.png") center / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* container */
.pod {
    text-align: center;
}

/* circle area */
.visual {
    position: relative;
    width: 350px;
    margin: auto;
}

.circle {
    width: 350px;
}

.mic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.badge {
    position: absolute;
    top: 15px;
    left: 260px;
    background: #00ff88;
    color: black;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: 600;
}

/* text */
.pod h1 {
    margin-top: 30px;
    font-size: 48px;
}

.subtitle {
    max-width: 600px;
    margin: 15px auto;
    opacity: 0.8;
}

/* buttons */
.hero-btn {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 25px;
}
.btn i{
    margin-right: 50px;
}

.btn-2{
background: transparent;
border: 3px solid #00ff88;
color: #00ff88;
border-radius: 20px;
padding: 10px 15px;
}
.btn-3 {
    padding: 10px 15px;
    background: linear-gradient(to right,
            rgba(247, 233, 63, 1),
            rgba(251, 9, 180, 1),
            rgba(145, 0, 248, 1));
    border-radius: 20px;
    color: white;
}

/* about */
.about{
    max-width: 1600px;
    height: 206px;
    text-align: center;
    padding: 50px 50px;
}
.about-p{
    max-width: 1200px;
    height: 58px;
}
.about-p p{
    margin: 20px auto;
    padding: 20px auto;
    color: rgb(110, 106, 106);
}
.about h2{
    font-size: 48px;
}

/* stats */
.stats{
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 40px 20px;
}
.stat span{
    color:rgb(110, 106, 106);
    text-align: center;
}
.stat h3 {
    color:#00ff88;
    font-size: 48px;
}

/* episode */
.featured {
    max-width: 1200px;
    margin: 120px auto;
    padding: 40px;
    background: #1a0833;
    border-radius: 24px;
    color: white;
}

.featured h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
}

/* grid for 3 cards */

/* card */
.episode-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.episode-card {
    background: #241046;
    border-radius: 20px;
    padding: 16px;
}

/* thumbnail */
.thumb {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
}

.thumb img {
    width: 100%;
    display: block;
}

/* play button overlay */
.play-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 60px;
        height: 60px;

        transform: translate(-50%, -50%);

        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 42px;
        color: white;
        text-decoration: none;
        background: linear-gradient(to right,
                rgba(247, 233, 63, 1),
                rgba(251, 9, 180, 1),
                rgba(145, 0, 248, 1));
        border-radius: 50%;
        transition: 0.3s;
}

.thumb:hover .play-btn {
    opacity: 1;
}

.episode-card h3 {
    margin: 15px 0 8px;
    font-size: 18px;
    color: #00ff88;
}

.episode-card p {
    font-size: 14px;
    color: #cfcfcf;
}

.time {
    display: flex;
    margin-top: 10px;
    color: #00ff88;
    font-size: 14px;
    gap: 10px;
}
/* host section */
.host {
    max-width: 1600px;
    margin: 120px auto;
    padding: 40px;
    color: white;
}

.host h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
    font-weight: 600;
}
.hoster {
    background: #241046;
    border-radius: 24px;
    padding: 40px;
    text-align: center;
    gap: 30px;
    display: flex;
    align-items: flex-start;
}


.hoster img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.host-content{
    display: flex;
    flex-direction: column;
}

.host-content h3 {
    font-size: 28px;
    margin-bottom: 12px;
    text-align: left;
}

.host-content p {
    font-size: 15px;
    line-height: 20px;
    color: #cfc7dd;
    max-width: 600px;
    text-align: left;
}


.links {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    align-items: flex-start;
}

.links i {
    cursor: pointer;
    background: linear-gradient(
    to right,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );

  background-clip: text;
  background-clip: text;
  color: transparent;
}

/* footer */
.footer{
  background:url(./assets/footer-bg.png) center/cover;
  padding: 60px 20px;
  text-align: center;
  color: white;
}

.logo{
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 600;
  
}

.logo span{
  background: linear-gradient(
    to right,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );

  background-clip: text;
  background-clip: text;
  color: transparent;
}


.social{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.social img{
  width: 16px;
  cursor: pointer;
}

.copy{
  font-size: 14px;
  opacity: 0.7;
}
/* animation */
.music-bars{
  display:flex;
  align-items:flex-end;
  gap:6px;
  height:50px;
}

.music-bars span{
  width:6px;
  height:10px;
  background: linear-gradient(to top, #ff0080, #7928ca);
  animation: beat 1s infinite ease-in-out;
}

.music-bars span:nth-child(1){animation-delay:0s}
.music-bars span:nth-child(2){animation-delay:.1s}
.music-bars span:nth-child(3){animation-delay:.2s}
.music-bars span:nth-child(4){animation-delay:.3s}
.music-bars span:nth-child(5){animation-delay:.4s}

@keyframes beat{
  0%,100%{height:10px}
  50%{height:50px}
}


/* RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE */

@media (max-width: 576px) {

   /* nav section */
    .nav {
        padding: 16px 20px;
    }

    .menu {
        display: none;
    }

    .TW {
        font-size: 26px;
    }

    .btn-1 {
      display: none;
    }
    .hamburger {
      display: flex;
    }

   /* hero section */
    .hero-bg {
     min-height: 500px;
    }

    .visual {
        width: 220px;
        
    }

    .circle {
        width: 280px;
   
    }

    .mic {
        width: 100px;
        position: absolute;
    }

    .badge {
        top: 10px;
        right: 0;
        left: auto;
        padding: 6px 12px;
        font-size: 12px;
    }

    .pod h1 {
        font-size: 36px;
    }

    .subtitle {
        font-size: 12px;
        padding: 0 10px;
    }

    .hero-btn {
        flex-direction: column;
        gap: 12px;
    }

   /* about section */
    .about {
        padding: 60px 20px;
        height: auto;
    }

    .about h2 {
        font-size: 32px;
    }

    .about-p {
        height: auto;
    }

    .about-p p {
        font-size: 14px;
        line-height: 22px;
    }

    /* stats */
    .stats {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 20px;
        padding: 40px 20px;
        margin: 0 auto;
       text-align: center;
    }

    .stat h3 {
        font-size: 34px;
    }

    /* card section (why choose) */
    .bg-\[\#130532\] .grid {
        display: grid;
        grid-template-columns: 1fr;
        height: 100%;
        gap: 20px;
    }
    .bg-\[\#130532\] .grid>div {
            grid-column: auto ;
            grid-row: auto;
    }
    /* episode section */
    .featured {
        margin: 80px 16px;
        padding: 24px;
    }

    .episode-grid {
        grid-template-columns: 1fr;
    }

    /* host section */
    .host {
        margin: 80px 16px;
        padding: 0;
    }

    .hoster {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .host-content h3,
    .host-content p {
        text-align: center;
    }
    .links{
        justify-content: center;
    }

  /* footer */
    .logo {
        font-size: 30px;
    }

    .social img {
        width: 14px;
    }
}
/* animation */
.music-bars {
    height: 30px;
    gap: 4px;
}

.music-bars span {
    width: 4px;
}

@keyframes beat {
    0%,
    100% {
        height: 6px
}
    50% {
        height: 30px
}
}